*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box{
    width: 40px;
    height: 40px;
    margin: 3px;
    padding: 10px;
    background-color: orange;
}

.firstContainer{
    display: flex;
    width: 100%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.secondContainer{
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}

.thirdContainer{
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: space-around;
}

.fourthContainer{
    height: 10vh;
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}

.fifthContainer-right{
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: space-around;
}

.fifthContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fifthContainer #box{
    margin: 30px;
}
.fifthContainer-left{
    display: flex;
    width: 15%;
    border: 1px solid;
    align-items: left;
    justify-content: center;
    margin:
}

.sixthContainer{
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: space-around;
}

.seventhContainer{
    display: flex;
    width: 100%;
    border: 0.5px solid;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 2vh;
}